.colorNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;    
}
.navList {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    
}
li {
    margin: 0 4rem;
    list-style: none;


}
a {
    text-decoration: none;
    color: #ffffff;

}
a :hover {
    color: rgb(181, 163, 0);
}
