.colorNav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border: grey 1px solid;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(81, 82, 81);
}
.navList {
    margin-left: 10px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    
}
li {
    margin: 0 4rem;
    list-style: none;


}
.NavLink {
    text-decoration: none;
    color: #ffffff;

}
a :hover {
    text-decoration: none;
    color: rgb(173, 171, 154);
}

a{
    text-decoration: none;
    color: aquamarine;
}
